<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="style.css" />
        <title></title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <button onclick="openmenu()">
                        &#9776;
                    </button>
                    <a href="index.html"></a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">SignIn</a>
                </div>
            </header>
            <aside class="sidebar">
                <h3>Shopping Categories</h3>
                <button class="sidebar-close-button" onclick="closemenu()">
                        x
                </button>
                <ul>
                    <li>
                        <a href="index.html">Pants</a>
                    </li>
                    <li>
                        <a href="index.html">Shirts</a>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpeg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="product.html" class="product-name">
                                        Nike T-Shirt
                                    </a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviews)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpeg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="product.html" class="product-name">
                                        Nike T-Shirt
                                    </a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviews)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpeg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="product.html" class="product-name">
                                        Nike T-Shirt
                                    </a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviews)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpeg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="product.html" class="product-name">
                                        Nike T-Shirt
                                    </a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviews)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpeg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="product.html" class="product-name">
                                        Nike T-Shirt
                                    </a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviews)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpeg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="product.html" class="product-name">
                                        Nike T-Shirt
                                    </a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviews)
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer">
                All right reserved
            </footer>
        </div>
        <script>
        function openmenu(){
            document.querySelector(".sidebar").classList.add("open")    
        }
        function closemenu(){
            document.querySelector(".sidebar").classList.remove("open")    
        }
        </script>
    </body>
</html>
