html{
    font-size: 62.5%;   
    box-sizing: border-box;
}
body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0%;   
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
.header{
    grid-area: header;
    background-color: rgb(29, 42, 54);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.brand a{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
}
.header-links a{
    color: white;
    text-decoration: none;
}
.header-links a:hover{
    color: rgb(255, 136, 0);
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: rgb(29, 42, 54);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}